#navbar {
  background-color: #0d1117;
  border: 1px solid #30363d;
  text-wrap: nowrap;
  position: fixed;
  width: 21vw;
  max-width: 30vw;
  height: 100vh;
  float: left;
  overflow: scroll;
  z-index: 10;
}

#navbar > header {
  position: sticky;
  top: 0;
  box-shadow: 0 0 12px 7px rgb(10, 10, 10);
  background-color: #161b22;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  min-width: fit-content;
}

#nav-branch {
  display: block;
  padding-top: 0.2rem;
  font-size: 1rem;
}

#navbar::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

#navbar::-webkit-scrollbar-track {
  background: #30363d;
}

#navbar::-webkit-scrollbar-thumb {
  background: grey;
}

#navbar::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

#file-explorer li {
  white-space: nowrap;
  padding-left: 5px;
}

#others {
  float: right;
  min-height: 101vh;
}

#resizer {
  width: 5px;
  height: 100vh;
  float: left;
  cursor: ew-resize;
  transform: translateX(-5px);
  position: fixed;
  z-index: 10;
}

.fa-folder,
.fa-folder-open {
  color: darkturquoise;
  font-size: 1rem;
}

.fa-file-code {
  font-size: 1rem;
  color: yellowgreen;
}

ul {
  list-style-type: none;
}

.repo-files {
  text-decoration: none;
  color: inherit;
}

.repo-folders:hover {
  text-decoration: underline;
  cursor: pointer;
}
