#navbar {
  background-color: #0d1117;
  border: 1px solid #30363d;
  position: fixed;
  width: 20vw;
  height: 100vh;
  float: left;
  overflow-y: scroll;
}

#nav-title {
  white-space: pre-line;
}

#navbar > header {
  background-color: #161b22;
  padding: 1rem;
}

#nav-branch {
  display: block;
  padding-top: 0.5rem;
  font-size: 1rem;
}

#navbar::-webkit-scrollbar {
  width: 5px;
}

#navbar::-webkit-scrollbar-track {
  background: #30363d;
}

#navbar::-webkit-scrollbar-thumb {
  background: grey;
}

#navbar::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

#others {
  float: right;
}

.fa-folder,
.fa-folder-open {
  color: darkturquoise;
  font-size: 1rem;
}

.fa-file-code {
  font-size: 1rem;
  color: yellowgreen;
}

ul {
  list-style-type: none;
}

.repo-files {
  text-decoration: none;
  color: inherit;
}

.repo-folders:hover {
  text-decoration: underline;
  cursor: pointer;
}
